/* v2.1 */
body {
	font-family: 'Open Sans', Arial, sans-serif;
	max-width: 1680px;
	margin: auto;
}

h1, h2, h3, h4, strong {
	color: rgba(141,192, 100, 1);
}

h1 {
	margin: 30px 10px 0 30px;
}

h2 {
	margin-top: 0px;
}

nav, main {
	max-width: 1024px;
	margin: auto;
}

.row {
	margin-top: 40px;
	margin-right: 15px;
	margin-left: 15px;
}

p {
	padding-bottom: 15px;
}

strong {
	font-size: 1.5em;
}

.navbar-nav {
	margin: 30px 0 10px 30px;
}

.navbar .navbar-toggle  {
	border-color: rgba(141,192, 100, 1);
	margin-top: 35px;
	margin-bottom: 21px;
	margin-left: 20px;
}

.navbar .navbar-toggle .icon-bar {
	background-color: rgba(141,192, 100, 1);
}

.navbar .navbar-toggle .icon-bar {
	background-color: rgba(141,192, 100, 1);
}

.navbar .active {
	border-bottom: 1px solid rgba(140, 122, 49, 1);
	padding-bottom: 14px;
}

#main-nav a:hover, #main-nav a:focus {
	background-color: rgba(140, 122, 49, 1);
	color: white;
}

header {
	position: relative;
	margin: auto;
	margin-bottom: 30px;
}

header a img {
	position: absolute;
	right: 20px;
	top: 15px;
}

header a img[src^="pics/csob"] {
	top: 70px;
	width: 73px;
	height: 62px;
}

.fb-like {
	margin-left: 30px;
}

footer {
	margin-top: 50px;
	color: white;
	padding: 20px;
	background-color: rgba(140, 122, 49, 1);
}

footer p {
	max-width: 1024px;
	margin: auto;
	padding: 10px 30px;
}

footer a, footer a:hover {
	color: #fff;
}

main a[href^="http"]::after, footer a[href^="http"]::after {
	position: relative;
	top: 1px;
	left: 4px;
	margin-right: 3px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e164";
}

/* home */
.home .row img {
	padding-bottom: 20px;
}

main a[href^="http://www.barrandov"]::after {
	display: none;
}

/* contact */
.contact h2 {
	margin-bottom: 20px;
	margin-top: 20px;
}

.contact h2:first-of-type {
	margin-top: -12px;
}

img[src$="vodicka.jpg"] {
	width: 96px;
	height: 120px;
	float: right;
}

img[src$="komora.jpg"] {
	width: 100px;
	height: 100px;
	float: right;
	margin-left: 10px;
}

main.contact {
	padding-bottom: 20px;
}

/* gallery */
.gallery h2 {
	margin-bottom: 25px;
}

.gallery-links {
	max-width: 1024px;
	margin: auto;
}

.gallery-links a img {
	margin: 8px;
}

.modal-footer .btn {
	color: #fff;
	background-color: rgba(141,192, 100, 1);
}

.modal-footer {
	border: none;
}

.modal-header {
	border: none;
}

/* links */
main > h2 {
	margin-left: 30px;
	margin-bottom: -15px;
}

@media (max-width: 767px) {
	h1 {
		margin: 30px 10px 20px 30px;
	}
	
	.navbar-nav {
		margin: 5px 0 10px 15px;
		padding-left: 0;
	}
	
	footer p {
		padding: 10px 10px;
	}
}

@media (max-width: 700px) {
	header a img {
		right: 3px;
		top: 3px;
	}

	header a img[src^="pics/csob"] {
		top: 44px;
	}

}

@media (max-width: 550px) {
	header a img {
		width: 58px;
		height: 28px;
	}

	header a img[src^="pics/csob"] {
		width: 58px;
		height: 49px;
		top: 38px;
	}

}

@media (max-width: 450px) {
	header a img {
		width: 52px;
		height: 25px;
	}

	header a img[src^="pics/csob"] {
		width: 52px;
		height: 44px;
		top: 33px;
	}
	
	.glyphicon-envelope {
		display: none;
	}

	img[src$="vodicka.jpg"] {
		width: 72px;
		height: 90px;
	}
	
	img[src$="komora.jpg"] {
		width: 80px;
		height: 80px;
	}
}

@media (max-width: 350px) {
	header a img {
		width: 39px;
		height: 18px;
	}

	header a img[src^="pics/csob"] {
		width: 39px;
		height: 33px;
		top: 26px;
	}
	
	img[src$="vodicka.jpg"] {
		width: 49px;
		height: 62px;
	}
	
	img[src$="komora.jpg"] {
		width: 60px;
		height: 60px;
	}
}

@media (max-height: 599px) {
	.modal-header {
		padding: 7px 15px;	
	}
	
	.modal-footer {
		padding: 7px;
	}
	
	.modal-title {
		line-height: 1;
	}
	
	.modal-dialog {
		margin: 5px auto;
	}
}