﻿@section specificPlugins {
	<link rel="stylesheet" href="css/blueimp-gallery.min.css">
	<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
}

<main class="gallery">
	<h2>Galerie</h2>
</main>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
	<!-- The container for the modal slides -->
	<div class="slides"></div>
	<!-- Controls for the borderless lightbox -->
	<h3 class="title"></h3>
	<a class="prev">‹</a>
	<a class="next">›</a>
	<a class="close">×</a>
	<a class="play-pause"></a>
	<ol class="indicator"></ol>
	<!-- The modal dialog, which will be used to wrap the lightbox content -->
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" aria-hidden="true">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body next"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left prev">
						<i class="glyphicon glyphicon-chevron-left"></i>
						Předchozí
					</button>
					<button type="button" class="btn btn-default next">
						Další
						<i class="glyphicon glyphicon-chevron-right"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="links" class="gallery-links">
	<a href="pics/mostyg0.jpg" data-gallery>
		<img src="pics/mostyg0th.jpg">
	</a>
	<a href="pics/mostyg2.jpg" data-gallery>
		<img src="pics/mostyg2th.jpg">
	</a>
	<a href="pics/mostyg3.jpg" data-gallery>
		<img src="pics/mostyg3th.jpg">
	</a>
	<a href="pics/mostyg4.jpg" data-gallery>
		<img src="pics/mostyg4th.jpg">
	</a>
	<a href="pics/mostyg5.jpg" data-gallery>
		<img src="pics/mostyg5th.jpg">
	</a>
	<a href="pics/mostyg6.jpg" data-gallery>
		<img src="pics/mostyg6th.jpg">
	</a>
	<a href="pics/mostyg8.jpg" data-gallery>
		<img src="pics/mostyg8th.jpg">
	</a>
	<a href="pics/mostyg9.jpg" data-gallery>
		<img src="pics/mostyg9th.jpg">
	</a>
	<a href="pics/mostyg10.jpg" data-gallery>
		<img src="pics/mostyg10th.jpg">
	</a>
	<a href="pics/mostyg11.jpg" data-gallery>
		<img src="pics/mostyg11th.jpg">
	</a>
	<a href="pics/mostyg12.jpg" data-gallery>
		<img src="pics/mostyg12th.jpg">
	</a>
	<a href="pics/mostyg13.jpg" data-gallery>
		<img src="pics/mostyg13th.jpg">
	</a>
	<a href="pics/mostyg14.jpg" data-gallery>
		<img src="pics/mostyg14th.jpg">
	</a>
	<a href="pics/mostyg15.jpg" data-gallery>
		<img src="pics/mostyg15th.jpg">
	</a>
	<a href="pics/mostyg16.jpg" data-gallery>
		<img src="pics/mostyg16th.jpg">
	</a>
	<a href="pics/mostyg17.jpg" data-gallery>
		<img src="pics/mostyg17th.jpg">
	</a>
	<a href="pics/mostyg18.jpg" data-gallery>
		<img src="pics/mostyg18th.jpg">
	</a>
	<a href="pics/mostyg19.jpg" data-gallery>
		<img src="pics/mostyg19th.jpg">
	</a>
	<a href="pics/mostyg20.jpg" data-gallery>
		<img src="pics/mostyg20th.jpg">
	</a>
</div>