﻿<main class="contact">
	<div class="row">
		<div class="col-md-6">
			<h2>Koordinátor projektu</h2>
			<img src="pics/vodicka.jpg">
			<p>Mgr. Jan Vodička</p>
			<p>
				<a href="mailto:&#106;&#097;&#110;&#046;&#118;&#111;&#100;&#105;&#099;&#107;&#097;&#064;&#109;&#111;&#115;&#116;&#112;&#114;&#101;&#115;&#103;&#101;&#110;&#101;&#114;&#097;&#099;&#105;&#046;&#99;&#122;" target="_blank">
					<span class="glyphicon glyphicon-envelope"></span>
					&#106;&#097;&#110;&#046;&#118;&#111;&#100;&#105;&#099;&#107;&#097;&#064;&#109;&#111;&#115;&#116;&#112;&#114;&#101;&#115;&#103;&#101;&#110;&#101;&#114;&#097;&#099;&#105;&#046;&#99;&#122;
				</a>
			</p>
			<p>tel: &#055;&#050;&#056; &#050;&#049;&#051; &#049;&#056;&#048;</p>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6">
			<h2>Česká pedagogická komora</h2>
			<img src="pics/pedagogickakomora.jpg">
			<p>Provozovatelem webu www.MostPresGeneraci.cz je Česká pedagogická komora se sídlem: Václavkova&nbsp;2/176, 160&nbsp;00 Praha&nbsp;6, IČ:&nbsp;26661136.</p>
			<p>
				<a href="http://www.mojeskola.net" target="_blank">www.mojeskola.net</a><br>
				<a href="http://www.facebook.com/pages/Pedagogická-komora/138089726228721" target="_blank">Facebooková stránka</a>
			</p>
			<div class="clearfix"></div>
		</div>
	</div>
</main>