﻿<main class="home">
	<div class="row">
		<div class="col-md-6">
			<p><strong>Most přes generaci</strong> je projekt, ve kterém se skupina dětí z dětských domovů naučí vybrané zajímavé deskové hry a naučí se je i učit další hráče. S touto dovedností pak přicházejí do domovů pro seniory a skupinu seniorů hry naučí hrát. Nejdřív tak vzniknou smíšené skupiny dětí a seniorů, kteří spolu hrají hry. Postupně se ale samovolně budují velice hezké vztahy – děti si touto cestou mezi seniory nacházejí své „adoptivní“ dědečky a babičky.</p>
			<p>Ačkoli je projekt zaměřený na budování smíšených herních klubů, oběma skupinám dává mnohem víc – obě skupiny získávají kontakt přes generaci a pro obě skupiny je to kontakt velice žádaný a přínosný.</p>
		</div>
		<div class="col-md-6">
			<img class="img-responsive" src="pics/mostyg12.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="pics/mostyg4.jpg">
		</div>
		<div class="col-md-6">
			<h2>Jak mosty budujeme?</h2>
			<p>Jako první skupinu v rámci projektu oslovujeme děti z dětských domovů (samozřejmě první kontakt je prostřednictvím ředitelů a vychovatelů z DD). Obsah projektu jim vysvětlíme a na základě zájmu pak pro skupinu vybraných dětí (vždy cca 10 z jednoho dětského domova) uspořádáme víkendový úvodní seminář. Na něm se děti nejprve naučí deset pečlivě vybraných moderních deskových her. Poté se seznámí se základními principy a postupy jak tyto hry učit další osoby. Nakonec semináře si vše prakticky vyzkouší. Hry, které takto ovládají si poté odvezou „domů“. Na domovském DD naučí tyto hry ostatní děti.</p>
			<p>Poslední, avšak tou nejzásadnější částí projektu je hraní těchto her se seniory. Děti berou hry do domovů pro seniory (ale třeba i LDN a podobných zařízení), učí dědečky a babičky jak se tyto hry hrají a pak je s nimi chodí hrát. Tato část projektu je dlouhodobá.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2>Současný stav</h2>
			<p>S projektem jsme začali v roce 2009. Děti z dětských domovů v Plané a Staňkove stále chodí za dědečky a babičkami, do mnoha zařízení opakovaně. Dopředu jsme netušili, jak bude projektu pro obě skupiny přínosný. Zvláště z dětských domovů nám stále chodí fotografie a maily ve smyslu „Děkujeme, naše děti jsou za hvězdy a to je pocit, který si málokdy užijí“. Ukázalo se, že pozice dětí jako lektorů, je velkým přínosem, děti si to velmi užívají, seniorům to zase pomáhá bourat tradiční bariéry k výuce nových věcí. Jsme projektem opravdu nadšeni a hledáme možnosti, jak ho pro příští rok výrazně rozšířit.</p>
		</div>
		<div class="col-md-6">
			<h2>Most přes generaci v televizi</h2>
			<p>(dne 04.08.2013 18:30, <b>v čase 18:10 do 20:30</b> na TV Barrandov)</p>
			<a href="http://www.barrandov.tv/video/16179-hlavni-zpravy-4-8-2013" target="_blank"><img class="img-responsive" src="pics/tv0.jpg"></a>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="fb-like" data-href="http://mostpresgeneraci.cz/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
	<div id="fb-root"></div>
</main>