﻿<main>
<h2>Naše další projekty</h2>
	<div class="row">
		<div class="col-md-6">
			<h4>Pro všechny</h4>
			<ul>
				<li><a href="http://dixeso.cz/" target="_blank">Dixeso</a> - didaktické pexeso</li>
				<li><a href="http://prometheove.cz/" target="_blank">Soutěže v přírodních vědách</a></li>
				<li><a href="http://legie.eu/" target="_blank">Legie</a> - vzdělávací projekt</li>
				<li><a href="http://vaclav4.cz/" target="_blank">Vaclav IV.</a> - vzdělávací projekt</li>
				<li><a href="http://mojeskola.net/autoevaluace" target="_blank">Autoevaluace</a> - hodnocení školy</li>
				<li><a href="http://mojepovolani.cz/" target="_blank">Moje Povolání</a></li>
			</ul>
			<h4>Pro žáky a hráče</h4>
			<ul>
				
				<li><a href="http://mcr-hry.cz/" target="_blank">Turnaje v deskových hrách</a></li>
				<li><a href="http://albigens.com/" target="_blank">Albigenští</a> - RPG, larpy</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6">
			<h4>Pro učitele</h4>
			<ul>
				<li><a href="http://pedagogickaporadna.cz/" target="_blank">Speciálně pedagogická poradna</a></li>
				<li><a href="http://filmova-vychova.cz/" target="_blank">Filmová výchova</a></li>
				<li><a href="http://filmbuilding.cz/stmelovacikurz.php" target="_blank">Stmelovací kurzy</a></li>
			</ul>
			<h4>Pro rodiče</h4>
			<ul>
				<li><a href="http://skolamebavi.cz/" target="_blank">Škola mě baví</a> - Pedagogická poradna</li>
				<li><a href="http://tvujkouc.eu/" target="_blank">Kouč pro vás</a></li>
			</ul>	
			<h4>Pro vydavatele</h4>
			<ul>
				<li><a href="http://mojeskola.net/certifikace" target="_blank">Certifikace</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</main>