<!DOCTYPE html>
<html>
<head>
	<title>Most přes generaci</title>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet" />	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	@RenderSection("specificPlugins", required: false)
    <link href="css/styles.css" rel="stylesheet" />	
</head>
<body>
	<nav class="navbar">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span> 
		</button>
		<h1 class="navbar-header">Most přes generaci</h1>
		<ul id="main-nav" class="collapse navbar-collapse nav navbar-nav">
			<li><a class="" href="o-projektu">O projektu</a></li>
			<li><a class="" href="galerie">Galerie</a></li>
			<li><a class="" href="kontakty">Kontakty</a></li>
			<li><a class="" href="odkazy">Odkazy</a></li>
		</ul>
	</nav>
	<header>
		<a href="http://www.csob.cz/cz/Stranky/default.aspx" target="_blank"><img src="pics/csob-logo.jpg"></a>
		<a href="http://www.sap.com/cz/index.epx" target="_blank"><img src="pics/sap-logo.gif"></a>
		<img class="img-responsive" src="pics/bridge3.jpg">
	</header>
	@RenderBody()
	<footer>
		<p class="small">Provozovatelem webu MosPresGeneraci.cz a realizátorem stejnojmenného projektu je Česká pedagogická komora se sídlem Václavkova 2/176, 160 00 Praha 6, IČ: 26661136.</p>
		<p class="small"><span class="pull-right">Design & coding by <a href="http://petrmacek.aspone.cz" target="_blank">Petr Maček</a></span>© Copyright Ceská pedagogická komora 2004 - 2015.</p>
	</footer>
	<script src="js/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
    @*making navlink to current page active*@
    <script>
        $(highlightCurrentPage("@Request.Url.AbsolutePath.Replace("/", "")"));
    </script>
</body>
</html>